* {
    font-family: 'Bookman Old Style', 'Serif';
}

body {
    margin: 0;
}

#headers-container {
    display: flex;
}

header {
    background-color: darkcyan;
    color: white;
    width: 50%;
    height: 100px;
    letter-spacing: 15px;
}

footer {
    background-color: darkcyan;
    color: white;
}

#worker-cards-container {
    display: flex;
}

.worker-card {
    background-color: azure;
    width: 30%;
    margin: 1%;
    box-shadow: 4px 4px 8px dimgray;
}

.worker-card > img {
    width: 100%;
}

p, h2, h3 {
    margin: 15px;
}

a {
    color: white;
}

h5 {
    background-color: teal;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
}

h5:hover {
    background-color: lightseagreen;
}

blockquote {
    text-align: center;
    padding: 30px, 0, 30px, 0;
    font-style: italic;
}

#quote-2,
#quote-3 {
    display: none;
}