<h1>Kategorie zdjęć</h1>

<div id="checkbox-container">
  <div class="form-check form-switch"> 
    <input class="form-check-input" type="checkbox" id="flowers-checkbox"> 
    <label class="form-check-label" for="flowers-checkbox">Kwiaty</label> 
  </div>

  <div class="form-check form-switch"> 
    <input class="form-check-input" type="checkbox" id="animals-checkbox"> 
    <label class="form-check-label" for="animals-checkbox">Zwierzęta</label> 
  </div>

  <div class="form-check form-switch"> 
    <input class="form-check-input" type="checkbox" id="cars-checkbox"> 
    <label class="form-check-label" for="cars-checkbox">Samochody</label> 
  </div>
</div>