* {
    font-family: 'Century', 'Serif';
    text-align: center;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}

header,
footer {
    background-color: indigo;
    color: white;
    font-style: italic;;
    padding: 2px;
}

#blok-pierwszy,
#blok-drugi,
#blok-trzeci,
#blok-czwarty {
    width: 50%;
    height: 470px;
}

img {
    padding: 3px;
    margin: 10px;
    border: 2px dashed slateblue;
}

a {
    color: white;
}

button {
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}

input[type="range"] {
    width: 80%;
}