* {
    font-family: 'Helvetica';
}

body {
    margin: 0;
}

main {
    display: flex;
}

header,
footer {
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
}

#lewy {
    flex-direction: row;
    width: 80%;
}

#lewy-gorny {
    background-color: peru;
    height: 40px;
    padding-top: 20px;
}

#lewy-dolny {
    height: 700px;
    font-size: 120%;
    overflow: auto;
}

#prawy {
    background-color: peru;
    color: white;
    width: 20%;
    height: 760px;
}

a {
    color: #DDD;
    padding-left: 90px;
    font-size: 140%;
    text-decoration: none;
}

a:hover {
    color: white;
}

img {
    margin: 30px;
    float: left;
}