* {
    font-family: 'Cambria';
}

body {
    margin: 0;
}

main {
    display: flex;
}

h1 {
    margin-top: 0;
}

#blok-lewy,
#blok-prawy {
    flex-direction: column;
}

#blok-lewy {
    background-color: #E1BEE7;
    width: 25%;
}

#blok-lewy-gorny {
    height: 400px;
}

#blok-lewy-dolny {
    height: 330px;
}

#blok-prawy {
    width: 75%;
    font-size: 170%;
    text-align: center;
}

#blok-prawy-gorny {
    background-color: #9C64A6;
    color: white;
    height: 150px;
    letter-spacing: 5px;
}

#blok-prawy-dolny {
    color: indigo;
    height: 580px;
}

footer {
    background-color: #9C64A6;
    color: white;
    padding: 10px;
}

h2 {
    text-align: center;
}

ul {
    list-style: circle;
}

img {
    padding: 4px;
    margin: 15px;
}

img:hover {
    padding: 3px;
    border: 1px dashed indigo;
}

#strona-glowna {
    padding: 25px;
}